html{
  background:lightyellow;
  font: 15px;
  h3{
    color:rgb(146, 37, 53);
    text-decoration:underline
  }
  hr {
    border: none; /* Remove default border for the line*/
    border-top: 1px solid #f08080; /* Add a thin pink line */
    width: 50%; /* Set a width for the line */
    margin: 20px auto; /* Center and add margin for spacing */
}
body {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: 5px solid #ddd; /* Example border style */
  margin: 10px; /* Add some space between the border and the content */
}
#main{
  font-size: xx-small;

}
}
